{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.users.title'|trans }}{% endblock %}

{% block body %}

    {{ include('admin/partials/page_title.html.twig', {
        'icon': "<i class='icon__page_title bx bx bxs-group' ></i>",
        'title': 'app.admin.users.title'|trans
    }) }}
   
    <div class="container">

        <h2>Create new User</h2>
        {#{{ include('admin/user/_form.html.twig') }}#}

        <div class="table__container">
        <table class="table table__thead__tbody">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Email</th>
                    <th>IsVerified</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="{{ path('admin.user.edit', {'id': user.id}) }}">{{ user.username }}</a></td>
                    <td>
                    {% for role in user.roles %}<span class="role__elem">{{ role }}</span>{% endfor %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                    <td class="actions">
                        {% if app.user.id != user.id %}
                            {{ include('admin/user/_delete_form.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
