{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.users.profile'|trans }}{% endblock %}

{% block body %}
    {{ include('admin/partials/page_title.html.twig', {
        'icon': "<i class='icon__page_title bx bx bxs-user' ></i>",
        'title': 'app.admin.users.profile'|trans 
    }) }}
   
    <div class="container container_relative">
        <a class="btn_page_title_overflow btn-primary btn" href="{{ url('admin.dashboard') }}"><i class='bx bx-left-arrow-alt'></i> {{ 'app.hdr.dashboard'|trans }}</a>
    </div>
   
   <div class="container">

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>
                    {% for role in user.roles %}<span class="role__elem">{{ role }}</span>{% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>IsVerified</th>
                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('admin.user.edit', {'id': user.id}) }}">edit</a>

   </div>
    
{% endblock %}
