<div class="section__element__content">
    <input type="checkbox" id="{{ ingredient.id }}-{{ grocery_list.id }}" class="form-check-input"
        {% if ingredient.activation %}checked="checked"{% endif %}
        data-ingredientid="{{ ingredient.id }}" 
        data-listid="{{ grocery_list.id }}">

    <div class="infos">
        {% if ingredient.comments|length > 1 %}
            <button class="comment__item" data-ing-id="{{ ingredient.id }}" data-list-id="{{ grocery_list.id }}">
                <i class='bx bx-dots-horizontal-rounded'></i>
            </button>
        {% elseif ingredient.comments|length == 1 %}
            <button class="comment__item" data-ing-id="{{ ingredient.id }}" data-list-id="{{ grocery_list.id }}">
                {{ ingredient.comments[0]|truncate(15) }}
            </button>
        {% else %}
            <button class="comment__item" data-ing-id="{{ ingredient.id }}" data-list-id="{{ grocery_list.id }}">?</button>
        {% endif %}

        <label for="{{ ingredient.id }}-{{ grocery_list.id }}" class="check__label">{{ ingredient.title }}</label>
    </div>

    {% for recipe in ingredient['recipes'] %}
        <span class="element__recipes__item">{{ recipe.title|truncate() }}</span>
    {% endfor %}
</div>