<div class="section__element__content">
    <a class="" href="{{ path('admin.list.toggleGroceryListIngredientList', {'grocerylistId':grocery_list.id,'grocerylistingredientId': groceryListIngredient.id,inlist:groceryListIngredient.inList?'remove':'put'}) }}">
        <input type="checkbox" id="{{ groceryListIngredient.ingredient.id }}-{{ grocery_list.id }}" class="form-check-input"
            {% if groceryListIngredient.inList %}checked="checked"{% endif %}
            data-ingredientid="{{ groceryListIngredient.ingredient.id }}" 
            data-listid="{{ grocery_list.id }}">
        <label for="{{ groceryListIngredient.ingredient.id }}-{{ grocery_list.id }}" class="check__label">{{ groceryListIngredient.ingredient.title }}</label>
    </a>
</div>