{{ form_start(form) }}

    <div class="title__slug_row">
        {{ form_row(form.title) }}
        {{ form_row(form.slug) }}
    </div>

    <div class="title__file_row">
    {{ form_row(form.selectfile) }}
    {{ form_row(form.uploadfile) }}
    </div>

    {{ form_row(form.category) }}
    {{ form_row(form.ingredients) }}
    {{ form_row(form.content) }}

    {{ form_row(form.save, {'label_html': true, 'label': button_label|default('app.admin.action.create'|trans)}) }}

{{ form_end(form) }}