{{ form_start(formlist) }}

    {{ form_row(formlist.groceryList) }}
    {{ form_row(formlist.ingredients) }}
    <span class="notice">{{ 'app.admin.recipes.sendtolistnotice'|trans({'%entity%': 1}) }}</span>
    {{ form_row(formlist.save) }}

{{ form_end(formlist) }}