{% extends 'admin/base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}

<div class="container">
    <h1>Recipes</h1>
    <a class="btn-primary btn" href="{{ url('admin.recipe.create') }}">Create recipe</a>

    <hr>
    {% include 'admin/partials/flashes.html.twig' %}

    {# total items count #}
    <div class="count">
        Results count : {{ recipes.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(recipes, 'Id', 'r.id') }}</th>
            <th{% if recipes.isSorted('a.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(recipes, 'Title', 'r.title') }}
            </th>
            <th>Categories</th>
            <th{% if recipes.isSorted('a.slug') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(recipes, 'Slug', 'r.slug') }}
            </th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>

        {# table body #}
        {% for recipe in recipes %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ recipe.id }}</td>
                <td><a href="{{ url('admin.recipe.show', {slug: recipe.slug, id: recipe.id}) }}">{{ recipe.title }}</a></td>
                <td>{{ recipe.category.title | default('---') }}</td>
                <td>{{ recipe.slug }}</td>
                <td class="actions">
                    <a class="btn-primary btn" href="{{ url('admin.recipe.edit', { id: recipe.id}) }}">Editer</a>
                    <form action="{{ url('admin.recipe.delete', { id: recipe.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn-primary btn" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(recipes) }}
    </div>
</div>
{% endblock %}
