{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.recipes.title'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex flex-row mb-3 align-items-center">
        <i class='icon__page_title bx bxs-bowl-hot' ></i>
        <div class="p-2"><h1>{{ 'app.admin.recipes.title'|trans }}</h1></div>
        <div class="p-2"><a class="btn-primary btn" href="{{ url('admin.category.index') }}">{{ 'app.admin.categories.title'|trans }} <i class='bx bx-transfer-alt'></i></a></div>
    </div>

    <hr>
    {% include 'admin/partials/flashes.html.twig' %}

    <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        {{ 'app.admin.action.new'|trans({'%gender%': 'female'}) }} {{ 'app.admin.recipes.entity'|trans({'%entity%': 1}) }} <i class='bx bx-plus-circle' ></i>
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {{ include('admin/recipe/_form.html.twig') }}
        </div>
    </div>
    <hr>

    {# total items count #}
    <div class="table__count">
        {{ 'app.admin.lists.count'|trans({'%entity%': 1}) }} : {{ recipes.getTotalItemCount }}
    </div>

    <div class="table__search">
        {{ include('admin/partials/_search.html.twig') }}
    </div>

    <div class="grid__archive row row-cols-3">
    
        {% for recipe in recipes %}
            <div class="col grid__item recipe__item">

                <div class="img" style="background-image:url({% if recipe.thumbnail is not empty %}{{ recipe.thumbnail }}{% else %}{% endif %})">
                </div>

                <div class="title"><a href="{{ url('admin.recipe.show', {slug: recipe.slug, id: recipe.id}) }}">{{ recipe.title }}</a></div>
                <div class="category">{{ recipe.category.title | default('---') }}</div>
                
                {{ include('admin/recipe/_delete_form.html.twig') }}
            </div>
        {% endfor %}

    </div>
    
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(recipes) }}
    </div>
</div>
{% endblock %}
