{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.recipes.title'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex flex-row mb-3 align-items-center">
        <div class="p-2"><h1>{{ 'app.admin.recipes.title'|trans }}</h1></div>
        <div class="p-2"><a class="btn-primary btn" href="{{ url('admin.category.index') }}">{{ 'app.admin.categories.title'|trans }}</a></div>
    </div>

    <a class="btn-primary btn" href="{{ url('admin.recipe.create') }}">
        {{ 'app.admin.action.new'|trans({'%gender%': 'female'}) }} {{ 'app.admin.recipes.entity'|trans({'%entity%': 1}) }}</a>

    <hr>
    {% include 'admin/partials/flashes.html.twig' %}

    {# total items count #}
    <div class="count">
        Results count : {{ recipes.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(recipes, 'Id', 'r.id') }}</th>
            <th{% if recipes.isSorted('a.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(recipes, 'Title', 'r.title') }}
            </th>
            <th>Categories</th>
            <th{% if recipes.isSorted('a.slug') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(recipes, 'Slug', 'r.slug') }}
            </th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>

        {# table body #}
        {% for recipe in recipes %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ recipe.id }}</td>
                <td><a href="{{ url('admin.recipe.show', {slug: recipe.slug, id: recipe.id}) }}">{{ recipe.title }}</a></td>
                <td>{{ recipe.category.title | default('---') }}</td>
                <td>{{ recipe.slug }}</td>
                <td class="actions">
                    <a class="btn-primary btn" href="{{ url('admin.recipe.edit', { id: recipe.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>
                    {{ include('admin/recipe/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(recipes) }}
    </div>
</div>
{% endblock %}
