{% extends 'admin/base.html.twig' %}

{% block title %}Edit - {{ section.title }}{% endblock %}

{% block body %}

    {{ include('admin/partials/page_title.html.twig', {
        'icon': "<i class='icon__page_title bx bxs-bowl-rice' ></i>",
        'title': 'Edit -' ~ section.title
    }) }}
   
    <div class="container container_relative">
        <a class="btn_page_title_overflow btn-primary btn" href="{{ url('admin.section.index') }}"><i class='bx bx-left-arrow-alt'></i> All sections</a>
    </div>

    <div class="container">

        {{ include('admin/section/_form.html.twig', {'button_label': 'app.admin.action.update'|trans}) }}

        {{ include('admin/section/_delete_form.html.twig') }}
    </div>
{% endblock %}
