{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.sections.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-row mb-3 align-items-center">
            <i class='icon__page_title bx bxs-category' ></i>
            <div class="p-2"><h1>{{ 'app.admin.sections.title'|trans }}</h1></div>
            <div class="p-2"><a class="btn-primary btn" href="{{ url('admin.ingredient.index') }}">{{ 'app.admin.ingredients.title'|trans }} <i class='bx bx-transfer-alt'></i></a></div>
        </div>

        <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            {{ 'app.admin.action.new'|trans({'%gender%': 'female'}) }} {{ 'app.admin.sections.entity'|trans({'%entity%': 1}) }} <i class='bx bx-plus-circle' ></i>
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{ include('admin/section/_form.html.twig') }}
            </div>
        </div>

        {# total items count #}
        <div class="table__count">
            {{ 'app.admin.lists.count'|trans({'%entity%': 1}) }} : {{ sections.getTotalItemCount }}
        </div>
        <table class="table table__thead__tbody">
            <thead>
            <tr>
                <th{% if sections.isSorted('a.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(sections, 'Title', 's.title') }}
                </th>
                <th{% if sections.isSorted('a.slug') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(sections, 'Slug', 's.slug') }}
                </th>
                <th class="actions">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for section in sections %}
                <tr>
                    <td><a href="{{ path('admin.section.show', {'slug': section.slug,'id': section.id}) }}">{{ section.title }}</a></td>
                    <td>{{ section.slug }}</td>
                    <td class="actions">
                        {{ include('admin/section/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'app.err.norecordfound'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(sections) }}
        </div>
    </div>
{% endblock %}
