{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.sections.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-row mb-3 align-items-center">
            <div class="p-2"><h1>{{ 'app.admin.sections.title'|trans }}</h1></div>
            <div class="p-2"><a class="btn-primary btn" href="{{ url('admin.ingredient.index') }}">{{ 'app.admin.ingredients.title'|trans }}</a></div>
        </div>

        <hr>
        {% include 'admin/partials/flashes.html.twig' %}

        <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            {{ 'app.admin.action.new'|trans({'%gender%': 'female'}) }} {{ 'app.admin.sections.entity'|trans({'%entity%': 1}) }}
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{ form(form) }}
            </div>
        </div>
        <hr>

        {# total items count #}
        <div class="count">
            Results count : {{ sections.getTotalItemCount }}
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(sections, 'Id', 'r.id') }}</th>
                <th{% if sections.isSorted('a.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(sections, 'Title', 'r.title') }}
                </th>
                <th{% if sections.isSorted('a.slug') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(sections, 'Slug', 'r.slug') }}
                </th>
                <th class="actions">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.id }}</td>
                    <td>{{ section.title }}</td>
                    <td>{{ section.slug }}</td>
                    <td class="actions">
                        <a class="btn-primary btn" href="{{ path('admin.section.show', {'slug': section.slug,'id': section.id}) }}">{{ 'app.admin.action.show'|trans }}</a>
                        <a class="btn-primary btn" href="{{ path('admin.section.edit', {'id': section.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(sections) }}
        </div>
    </div>
{% endblock %}
