{% extends 'admin/base.html.twig' %}

{% block title %}Sections{% endblock %}

{% block body %}
    <div class="container">
        <h1>Sections</h1>
        <a class="btn-primary btn mb-4" href="{{ path('admin.section.new') }}">Create new</a>

        <hr>
        {% include 'admin/partials/flashes.html.twig' %}


        {# total items count #}
        <div class="count">
            Results count : {{ sections.getTotalItemCount }}
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(sections, 'Id', 'r.id') }}</th>
                <th{% if sections.isSorted('a.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(sections, 'Title', 'r.title') }}
                </th>
                <th{% if sections.isSorted('a.slug') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(sections, 'Slug', 'r.slug') }}
                </th>
                <th class="actions">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for section in sections %}
                <tr>
                    <td>{{ section.id }}</td>
                    <td>{{ section.title }}</td>
                    <td>{{ section.slug }}</td>
                    <td class="actions">
                        <a class="btn-primary btn" href="{{ path('admin.section.show', {'slug': section.slug,'id': section.id}) }}">show</a>
                        <a class="btn-primary btn" href="{{ path('admin.section.edit', {'id': section.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(sections) }}
        </div>
    </div>
{% endblock %}
