{{ form_start(form, { attr: { 'data-controller': 'recipesform' } }) }}

    <div class="title__slug_row">
        {{ form_row(form.title) }}
        {{ form_row(form.slug) }}
    </div>
    {{ form_row(form.section) }}
    {{ form_row(form.availableRecipe) }}
    {{ form_row(form.recipes) }}
    {{ form_row(form.groceryLists) }}
    {{ form_row(form.save, {'label_html': true, 'label': button_label|default('app.admin.action.create'|trans)}) }}

{{ form_end(form) }}