{% extends 'admin/base.html.twig' %}

{% block title %}Edit - {{ ingredient.title }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ url('admin.ingredient.index') }}">All ingredients</a>
    <h1>Edit - {{ ingredient.title }}</h1>

    <hr>
    {% include 'admin/partials/flashes.html.twig' %}

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.recipes) }}

    {{ form_row(form.save, {'label':  'Update Ingredient'}) }}

    {{ form_end(form) }}
    <hr>

</div>
{% endblock %}
