{% extends 'admin/base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block body %}

<div class="container">
    <h1>Ingredients</h1>
    <a class="btn-primary btn" href="{{ url('admin.ingredient.create') }}">Create ingredient</a>

    <hr>
    {% include 'admin/partials/flashes.html.twig' %}

    {# total items count #}
    <div class="count">
        Results count : {{ ingredients.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(ingredients, 'Id', 'r.id') }}</th>
            <th{% if ingredients.isSorted('a.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(ingredients, 'Title', 'r.title') }}
            </th>
            <th>Sections</th>
            <th{% if ingredients.isSorted('a.slug') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(ingredients, 'Slug', 'r.slug') }}
            </th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>

        {# table body #}
        {% for ingredient in ingredients %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ ingredient.id }}</td>
                <td><a href="{{ url('admin.ingredient.show', {slug: ingredient.slug, id: ingredient.id}) }}">{{ ingredient.title }}</a></td>
                <td>{{ ingredient.section.title | default('---') }}</td>
                <td>{{ ingredient.slug }}</td>
                <td class="actions">
                    <a class="btn-primary btn" href="{{ url('admin.ingredient.edit', { id: ingredient.id}) }}">Editer</a>
                    <form action="{{ url('admin.ingredient.delete', { id: ingredient.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn-primary btn" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(ingredients) }}
    </div>
</div>
{% endblock %}
