{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.ingredients.title'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex flex-row mb-3 align-items-center">
        <div class="p-2"><h1>{{ 'app.admin.ingredients.title'|trans }}</h1></div>
        <div class="p-2"><a class="btn-primary btn" href="{{ url('admin.section.index') }}">{{ 'app.admin.sections.title'|trans }} <i class='bx bx-transfer-alt'></i></a></div>
    </div>

    <hr>
    {% include 'admin/partials/flashes.html.twig' %}

    <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        {{ 'app.admin.action.new'|trans({'%gender%': 'male'}) }} {{ 'app.admin.ingredients.entity'|trans({'%entity%': 1}) }} <i class='bx bx-plus-circle' ></i>
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {{ form(form) }}
        </div>
    </div>
    <hr>

    {# total items count #}
    <div class="table__count">
        {{ 'app.admin.lists.count'|trans({'%entity%': 1}) }} : {{ ingredients.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(ingredients, 'Id', 'i.id') }}</th>
            <th{% if ingredients.isSorted('a.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(ingredients, 'Title', 'i.title') }}
            </th>
            <th>Sections</th>
            <th{% if ingredients.isSorted('a.slug') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(ingredients, 'Slug', 'i.slug') }}
            </th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>

        {# table body #}
        {% for ingredient in ingredients %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ ingredient.id }}</td>
                <td><a href="{{ url('admin.ingredient.show', {slug: ingredient.slug, id: ingredient.id}) }}">{{ ingredient.title }}</a></td>
                <td>{{ ingredient.section.title | default('---') }}</td>
                <td>{{ ingredient.slug }}</td>
                <td class="actions">
                    {{ include('admin/ingredient/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(ingredients) }}
    </div>
</div>
{% endblock %}
