{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.ingredients.title'|trans }}{% endblock %}

{% block body %}

    {{ include('admin/partials/page_title.html.twig', {'icon': "<i class='icon__page_title bx bxs-bowl-rice' ></i>",'title': 'app.admin.ingredients.title'|trans}) }}
   
<div class="container container_relative">
    <a class="btn_page_title_overflow btn-primary btn" href="{{ url('admin.section.index') }}">{{ 'app.admin.sections.title'|trans }} <i class='bx bx-transfer-alt'></i></a>
</div>

<div class="container">
    
    <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        {{ 'app.admin.action.new'|trans({'%gender%': 'male'}) }} {{ 'app.admin.ingredients.entity'|trans({'%entity%': 1}) }} <i class='bx bx-plus-circle' ></i>
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {{ include('admin/ingredient/_form.html.twig') }}
        </div>
    </div>

    {# total items count #}
    <div class="table__count">
        {{ 'app.admin.lists.count'|trans({'%entity%': 1}) }} : {{ ingredients.getTotalItemCount }}
    </div>

    <div class="table__search">
        {{ include('admin/partials/_search.html.twig') }}
    </div>
    
    <table class="table table__thead__tbody">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th{% if ingredients.isSorted('a.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(ingredients, 'Title', 'i.title') }}
            </th>
            <th>Sections</th>
            <th>Recipes ready</th>
            <th{% if ingredients.isSorted('a.slug') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(ingredients, 'Slug', 'i.slug') }}
            </th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>

        {# table body #}
        {% for ingredient in ingredients %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ url('admin.ingredient.show', {slug: ingredient.slug, id: ingredient.id}) }}">{{ ingredient.title }}</a></td>
                <td>{{ ingredient.section.title | default('---') }}</td>
                <td>
                {% if ingredient.availableRecipe is not empty %}
                    <div class="table__notice good"><i class='bx bx-check'></i></div>
                {% else %}
                    <div class="table__notice bad"><i class='bx bx-block' ></i></div>
                {% endif %}
                </td>
                <td>{{ ingredient.slug }}</td>
                <td class="actions">
                    {{ include('admin/ingredient/_delete_form.html.twig') }}
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'app.err.norecordfound'|trans }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(ingredients) }}
    </div>
</div>
{% endblock %}
