{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.files.title'|trans }}{% endblock %}

{% block body %}
    {{ include('admin/partials/page_title.html.twig', {
        'icon': "<i class='icon__page_title bx bx bx-images' ></i>",
        'title': 'app.admin.files.title'|trans
    }) }}

<div class="container file__archive">

    {{ include('admin/file/_form.html.twig') }}

    {# total items count #}
    <div class="table__count">
        {{ 'app.admin.lists.count'|trans({'%entity%': 1}) }} : {{ files.getTotalItemCount }}
    </div>
        
    <div class="row files__row">
    {% for file in files %}

        <div class="file__card">
            <div class="card">
                <div class="card-body" style="background-image:url({{ file.url }})">
                    <div class="file__filter"></div>
                    <a class="file__link" href="{{ path('admin.file.show', {'id': file.id}) }}"></a>
                    {{ include('admin/file/_delete_form.html.twig') }}
                </div>
            </div>
        </div>

    {% else %}

        <div class="table__container">
        <table class="table table__thead__tbody">
            <tbody>

                <tr>
                    <td colspan="5">no records found</td>
                </tr>

            </tbody>
        </table>
        </div>

    {% endfor %}
    </div>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(files) }}
    </div>

</div>
{% endblock %}