{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.files.title'|trans }}{% endblock %}

{% block body %}
    {{ include('admin/partials/page_title.html.twig', {
        'icon': "<i class='icon__page_title bx bx bx-images' ></i>",
        'title': 'app.admin.files.title'|trans
    }) }}

<div class="container">

    {{ include('admin/file/_form.html.twig') }}

    <div class="table__container">
    <table class="table table__thead__tbody">
        <thead>
        <tr>
            <th>Title</th>
            <th>Extension</th>
            <th class="actions">Actions</th>
        </tr>

        </thead>
        <tbody>

        {% for file in files %}
            <tr>
                <td><a href="{{ path('admin.file.show', {'id': file.id}) }}">{{ file.title }}</a></td>
                <td>{{ file.extension }}</td>
                <td>
                    {{ include('admin/file/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
</div>
{% endblock %}