{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.hdr.dashboard'|trans }}{% endblock %}

{% block body %}

<div id="dashboard__page">

{{ include('admin/partials/page_title.html.twig', {
    'icon': "<i class='icon__page_title bx bxs-dashboard' ></i>",
    'title': 'app.hdr.dashboard'|trans
}) }}
    
<div class="container">

    <div class="d-flex flex-wrap row">
        <a href="{{ url('admin.list.index') }}" class="col">
            <div class="card p-4 d-flex flex-row justify-content-start align-items-center">
                <i class='bx bx-list-ul' ></i>
                <span>{{ 'app.admin.lists.title'|trans }}</span>
            </div>
        </a>
        
        {% if currentGrocerylist is not empty %}
        <a href="{{ path('admin.list.show', {'slug': currentGrocerylist.slug,'id': currentGrocerylist.id}) }}" class="col">
            <div class="card p-4 d-flex flex-row justify-content-start align-items-center">
                <i class='fav__icon bx bxs-star' ></i>
                <i class='bx bx-list-ul' ></i>
                <span>{{ currentGrocerylist.title }}</span>
            </div>
        </a>
        {% endif %}

    </div>

    <hr/>

    <div class="d-flex flex-wrap row">
        <a href="{{ url('admin.recipe.index') }}" class="col">
            <div class="card p-4 d-flex flex-row justify-content-start align-items-center">
                <i class='bx bxs-bowl-hot' ></i>
                <span>{{ 'app.admin.recipes.title'|trans }}</span>
            </div>
        </a>

        <a href="{{ url('admin.category.index') }}" class="col">
            <div class="card p-4 d-flex flex-row justify-content-start align-items-center">
                <i class='bx bxs-category-alt'></i>
                <span>{{ 'app.admin.categories.title'|trans }}</span>
            </div>
        </a>
    </div>

    <hr/>

    <div class="d-flex flex-wrap row">
        <a href="{{ url('admin.ingredient.index') }}" class="col">
            <div class="card p-4 d-flex flex-row justify-content-start align-items-center">
                <i class='bx bxs-bowl-rice'></i>
                <span>{{ 'app.admin.ingredients.title'|trans }}</span>
            </div>
        </a>

        <a href="{{ url('admin.category.index') }}" class="col">
            <div class="card p-4 mr-2 d-flex flex-row justify-content-start align-items-center">
                <i class='bx bxs-category'></i>
                <span>{{ 'app.admin.sections.title'|trans }}</span>
            </div>
        </a>
    </div>

    <hr/>

    <div class="d-flex flex-wrap row">
        <a href="{{ url('admin.file.index') }}" class="col">
            <div class="card p-4 d-flex flex-row justify-content-start align-items-center">
                <i class='bx bx-images' ></i>
                <span>{{ 'app.admin.files.title'|trans }}</span>
            </div>
        </a>
    </div>
    
    <hr/>
    
    <div class="d-flex flex-wrap row">
        <a href="{{ url('admin.user.profile') }}" class="col">
            <div class="card p-4 d-flex flex-row justify-content-start align-items-center">
                <i class='bx bxs-user'></i>
                <span>{{ 'app.admin.users.profile'|trans }}</span>
            </div>
        </a>
        
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin.user.index') }}" class="col">
                <div class="card p-4 d-flex flex-row justify-content-start align-items-center">
                    <i class='bx bxs-group' ></i>
                    <span>{{ 'app.admin.users.title'|trans }}</span>
                </div>
            </a>
        {% endif %}

    </div>

    <hr/>

    <div class="actions">
        <a class="mt-4 btn btn-primary btn-lg">
            <i class='bx bxs-log-out-circle' ></i>
            {{ 'app.hdr.logout'|trans }}
        </a>
    </div>
</div>
</div>
{% endblock %}
