{{ form_start(form) }}
    <div class="title__slug_row">
        {{ form_row(form.title) }}
        {{ form_row(form.slug) }}
    </div>

    {{ form_row(form.save, {'label_html': true, 'label': button_label|default('app.admin.action.create'|trans)}) }}

{{ form_end(form) }}