{% extends 'admin/base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex flex-row mb-3 align-items-center">
        <div class="p-2"><h1>{{ 'app.admin.categories.title'|trans }}</h1></div>
        <div class="p-2"><a class="btn-primary btn" href="{{ url('admin.recipe.index') }}">{{ 'app.admin.recipes.title'|trans }}</a></div>
    </div>

    <a class="btn-primary btn" href="{{ url('admin.category.create') }}">{{ 'app.admin.action.new'|trans }}</a>

    <hr>
    {% include 'admin/partials/flashes.html.twig' %}

    {# total items count #}
    <div class="count">
        Results count : {{ categories.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(categories, 'Id', 'c.id') }}</th>
            <th{% if categories.isSorted('a.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(categories, 'Title', 'c.title') }}
            </th>
            <th{% if categories.isSorted('a.slug') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(categories, 'Slug', 'c.slug') }}
            </th>
            <th>Count Recipes</th>
            <th class="actions">Actions</th>
        </tr>

        </thead>
        <tbody>

        {# table body #}
        {% for category in categories %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ category.category.id }}</td>
                <td><a href="{{ url('admin.category.show', {slug: category.category.slug, id: category.category.id}) }}">{{ category.category.title }}</a></td>
                <td>{{ category.category.slug }}</td>
                <td>{{ category.total }}</td>
                <td class="actions">
                    <a class="btn-primary btn" href="{{ url('admin.category.edit', { id: category.category.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>
                    <form action="{{ url('admin.category.delete', { id: category.category.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn-primary btn" type="submit">{{ 'app.admin.action.delete'|trans }}</button>
                    </form>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(categories) }}
    </div>
</div>
{% endblock %}
