{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.categories.title'|trans }}{% endblock %}

{% block body %}
    {{ include('admin/partials/page_title.html.twig', {
        'icon': "<i class='icon__page_title bx bxs-category-alt' ></i>",
        'title': 'app.admin.categories.title'|trans,
        'links': [
            {
                'url': path('admin.recipe.index'),
                'label': 'app.admin.recipes.title'|trans ~ "<i class='bx bx-transfer-alt'></i>",
                'class': 'btn_page_title_overflow btn-primary btn'
            }
        ]
    }) }}

<div class="container">
    <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        {{ 'app.admin.action.new'|trans({'%gender%': 'female'}) }} {{ 'app.admin.categories.entity'|trans({'%entity%': 1}) }} <i class='bx bx-plus-circle' ></i>
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {{ include('admin/category/_form.html.twig') }}
        </div>
    </div>

    {# total items count #}
    <div class="table__count">
        {{ 'app.admin.lists.count'|trans({'%entity%': 1}) }} : {{ categories.getTotalItemCount }}
    </div>
    
    <div class="table__container">
    <table class="table table__thead__tbody">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th{% if categories.isSorted('a.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(categories, 'Title', 'c.title') }}
            </th>
            <th class="mobile__hide {% if categories.isSorted('c.slug') %}sorted{% endif %}">
                {{ knp_pagination_sortable(categories, 'Slug', 'c.slug') }}
            </th>
            <th>Count Recipes</th>
            <th class="actions">Actions</th>
        </tr>

        </thead>
        <tbody>

        {# table body #}
        {% for category in categories %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ url('admin.category.show', {slug: category.category.slug, id: category.category.id}) }}">{{ category.category.title }}</a></td>
                <td class="mobile__hide">{{ category.category.slug }}</td>
                <td>{{ category.total }}</td>
                <td class="actions">
                    {{ include('admin/category/_delete_form.html.twig') }}
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'app.err.norecordfound'|trans }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(categories) }}
    </div>
</div>
{% endblock %}
