{% extends 'front/base.html.twig' %}

{% block title %}Front{% endblock %}

{% block body %}

<div id="site__home">

    <div class="home__area">

    <div class="container">
        <img class="site__logo" src="{{ asset('images/grocerylist-logo.png') }}" alt="GroceryList">
        
        {#<span class="bg__deco" aria-hidden="true">Vos listes de course</span>#}
        <h1 class="mb-3">Vos listes de course</h1>

        {% if app.user.id is not defined %}
            <nav class="right">
                <ul>
                    <li><a class="btn btn-primary mb-3 {{ app.current_route starts with 'app_login' ? 'active' : '' }}" href="{{ url('app_login') }}">{{ 'app.front.login.action'|trans }}</a></li>
                    <li><a class="btn btn-primary {{ app.current_route starts with 'app_register' ? 'active' : '' }}" href="{{ url('app_register') }}">{{ 'app.front.register.action'|trans }}</a></li>
                </ul>
            </nav>
        {% else %}
            <nav class="right">
                <ul>
                    <li><a class="btn btn-primary mb-3" href="{{ url('admin.dashboard') }}">{{ 'app.hdr.dashboard'|trans }}</a></li>
                </ul>
            </nav>
        {% endif %}
    </div>
    </div>

</div>
{% endblock %}
