<header>
    <nav>
        <ul>
            <li><a class="{{ app.current_route == 'page.home' ? 'active' : '' }}" href="{{ url('page.home') }}">Home</a></li>
            <li><a class="{{ app.current_route starts with 'page.contact' ? 'active' : '' }}" href="{{ url('page.contact') }}">Contact</a></li>
            {% if app.user %}
                <li><a class="{{ app.current_route starts with 'admin.dashboard' ? 'active' : '' }}" href="{{ url('admin.dashboard') }}">Dashboard</a></li>
                <li><a class="{{ app.current_route starts with 'app_logout' ? 'active' : '' }}" href="{{ url('app_logout') }}">Logout</a></li>
            {% else %}
                <li><a class="{{ app.current_route starts with 'app_login' ? 'active' : '' }}" href="{{ url('app_login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>