{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.groups.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-row mb-3 align-items-center">
            <div class="p-2"><h1>{{ 'app.admin.groups.title'|trans }}</h1></div>
            <div class="p-2"><a class="btn-primary btn" href="{{ url('admin.product.index') }}">{{ 'app.admin.products.title'|trans }} <i class='bx bx-transfer-alt'></i></a></div>
        </div>

        <hr>
        {% include 'admin/partials/flashes.html.twig' %}

        <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            {{ 'app.admin.action.new'|trans({'%gender%': 'male'}) }} {{ 'app.admin.groups.entity'|trans({'%entity%': 1}) }} <i class='bx bx-plus-circle' ></i>
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{ form(form) }}
            </div>
        </div>
        <hr>

        {# total items count #}
        <div class="table__count">
            {{ 'app.admin.lists.count'|trans({'%entity%': 1}) }} : {{ groups.getTotalItemCount }}
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(groups, 'Id', 's.id') }}</th>
                <th{% if groups.isSorted('a.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(groups, 'Title', 's.title') }}
                </th>
                <th{% if groups.isSorted('a.slug') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(groups, 'Slug', 's.slug') }}
                </th>
                <th class="actions">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td><a href="{{ path('admin.group.show', {'slug': group.slug,'id': group.id}) }}">{{ group.title }}</a></td>
                    <td>{{ group.slug }}</td>
                    <td class="actions">
                        {{ include('admin/group/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(groups) }}
        </div>
    </div>
{% endblock %}
