{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.products.title'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex flex-row mb-3 align-items-center">
        <div class="p-2"><h1>{{ 'app.admin.products.title'|trans }}</h1></div>
        <div class="p-2"><a class="btn-primary btn" href="{{ url('admin.group.index') }}">{{ 'app.admin.groups.title'|trans }}</a></div>
    </div>

    <a class="btn-primary btn" href="{{ url('admin.product.create') }}">
        {{ 'app.admin.action.new'|trans({'%gender%': 'male'}) }} {{ 'app.admin.products.entity'|trans({'%entity%': 1}) }}
    </a>

    <hr>
    {% include 'admin/partials/flashes.html.twig' %}

    {# total items count #}
    <div class="count">
        {{ 'app.admin.lists.count'|trans({'%entity%': 1}) }} : {{ products.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(products, 'Id', 'i.id') }}</th>
            <th{% if products.isSorted('a.title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(products, 'Title', 'i.title') }}
            </th>
            <th>Groups</th>
            <th{% if products.isSorted('a.slug') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(products, 'Slug', 'i.slug') }}
            </th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>

        {# table body #}
        {% for product in products %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ product.id }}</td>
                <td><a href="{{ url('admin.product.show', {slug: product.slug, id: product.id}) }}">{{ product.title }}</a></td>
                <td>{{ product.group.title | default('---') }}</td>
                <td>{{ product.slug }}</td>
                <td class="actions">
                    <a class="btn-primary btn" href="{{ url('admin.product.edit', { id: product.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>
                    {{ include('admin/product/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
</div>
{% endblock %}
