{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.action.new'|trans({'%gender%': 'male'}) }} {{ 'app.admin.products.entity'|trans({'%entity%': 1}) }}{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ 'app.admin.action.new'|trans({'%gender%': 'male'}) }} {{ 'app.admin.products.entity'|trans({'%entity%': 1}) }}</h1>
    <a class="btn-primary btn" href="{{ url('admin.product.index') }}">All productss</a>

    <hr>
    {{ form(form) }}
    <hr>

</div>
{% endblock %}
