{% extends 'admin/base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ product.title }}</h1>
    <div class="actions">
        <a class="btn-primary btn" href="{{ url('admin.product.edit', { id: product.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>
        <a class="btn-primary btn" href="{{ url('admin.product.index') }}">All products</a>
    </div>
    
</div>
{% endblock %}
