{% extends 'admin/base.html.twig' %}

{% block title %}Edit - {{ grocery_list.title }}{% endblock %}

{% block body %}
    {{ include('admin/partials/page_title.html.twig', {
        'icon': "<i class='icon__page_title bx bx-list-ul' ></i>",
        'title': 'Edit - ' ~ grocery_list.title
    }) }}

    <div class="container container_relative">
        <a class="btn_page_title_overflow btn-primary btn" href="{{ path('admin.list.show', {'slug': grocery_list.slug,'id': grocery_list.id}) }}"><i class='bx bx-left-arrow-alt'></i> {{ 'app.admin.action.backlist'|trans }}</a>
    </div>

    <div class="container">

        <div class="list__form mb-4">
            {{ include('admin/grocery_list/_form.html.twig', {'button_label': "<i class='bx bx-edit-alt' ></i>"|raw}) }}
        </div>

        {{ include('admin/grocery_list/_delete_form.html.twig') }}
    </div>
{% endblock %}
