{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.lists.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'app.admin.lists.title'|trans }}</h1>

        <hr>
        {% include 'admin/partials/flashes.html.twig' %}

        <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            {{ 'app.admin.action.new'|trans({'%gender%': 'female'}) }} {{ 'app.admin.lists.entity'|trans({'%entity%': 1}) }} <i class='bx bx-plus-circle' ></i>
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{ include('admin/grocery_list/_form.html.twig') }}
            </div>
        </div>
        <hr>

        {# total items count #}
        <div class="table__count">
            {{ 'app.admin.lists.count'|trans({'%entity%': 1}) }} : {{ grocery_lists.getTotalItemCount }}
        </div>
        <table class="table">
            <thead>
            <tr>
                <th{% if grocery_lists.isSorted('a.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(grocery_lists, 'Title', 'l.title') }}
                </th>
                <th{% if grocery_lists.isSorted('a.slug') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(grocery_lists, 'Slug', 'l.slug') }}
                </th>
                {#<th>CreatedAt</th>
                <th>UpdatedAt</th>#}
                <th class="actions">edit</th>
                <th class="actions">delete</th>
            </tr>
            </thead>
            <tbody>
            {% for grocery_list in grocery_lists %}
                <tr>
                    <td><a href="{{ path('admin.list.show', {'slug': grocery_list.slug,'id': grocery_list.id}) }}">{{ grocery_list.title }}</a></td>
                    <td>{{ grocery_list.slug }}</td>
                    {#<td>{{ grocery_list.createdAt ? grocery_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ grocery_list.updatedAt ? grocery_list.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                    <td class="actions__edit">
                        <a class="btn-primary btn" href="{{ path('admin.list.edit', {'id': grocery_list.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>
                    </td>
                    <td class="actions__delete">
                        {{ include('admin/grocery_list/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(grocery_lists) }}
        </div>

    </div>
{% endblock %}
