{% extends 'admin/base.html.twig' %}

{% block title %}My Lists{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'app.admin.lists.title'|trans }}</h1>
        <a class="btn-primary btn mb-4" href="{{ path('admin.list.new') }}">{{ 'app.admin.action.new'|trans }}</a>

        <hr>
        {% include 'admin/partials/flashes.html.twig' %}

        {# total items count #}
        <div class="count">
            Results count : {{ grocery_lists.getTotalItemCount }}
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(grocery_lists, 'Id', 'r.id') }}</th>
                <th{% if grocery_lists.isSorted('a.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(grocery_lists, 'Title', 'r.title') }}
                </th>
                <th{% if grocery_lists.isSorted('a.slug') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(grocery_lists, 'Slug', 'r.slug') }}
                </th>
                {#<th>CreatedAt</th>
                <th>UpdatedAt</th>#}
                <th class="actions">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for grocery_list in grocery_lists %}
                <tr>
                    <td>{{ grocery_list.id }}</td>
                    <td>{{ grocery_list.title }}</td>
                    <td>{{ grocery_list.slug }}</td>
                    {#<td>{{ grocery_list.createdAt ? grocery_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ grocery_list.updatedAt ? grocery_list.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
                    <td class="actions">
                        <a class="btn-primary btn" href="{{ path('admin.list.show', {'slug': grocery_list.slug,'id': grocery_list.id}) }}">{{ 'app.admin.action.show'|trans }}</a>
                        <a class="btn-primary btn" href="{{ path('admin.list.edit', {'id': grocery_list.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(grocery_lists) }}
        </div>

    </div>
{% endblock %}
