{% extends 'admin/base.html.twig' %}

{% block title %}My Lists{% endblock %}

{% block body %}
    <div class="container">
        <h1>My Lists</h1>
        <a class="btn-primary btn mb-4" href="{{ path('admin.list.new') }}">Create new</a>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th class="actions">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for grocery_list in grocery_lists %}
                <tr>
                    <td>{{ grocery_list.id }}</td>
                    <td>{{ grocery_list.title }}</td>
                    <td>{{ grocery_list.createdAt ? grocery_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ grocery_list.updatedAt ? grocery_list.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="actions">
                        <a class="btn-primary btn" href="{{ path('admin.list.show', {'slug': grocery_list.slug,'id': grocery_list.id}) }}">show</a>
                        <a class="btn-primary btn" href="{{ path('admin.list.edit', {'id': grocery_list.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
