{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'app.admin.action.new'|trans({'%gender%': 'female'}) }} {{ 'app.admin.lists.entity'|trans({'%entity%': 1}) }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'app.admin.action.new'|trans({'%gender%': 'female'}) }} {{ 'app.admin.lists.entity'|trans({'%entity%': 1}) }}</h1>

        <hr>

        {{ include('admin/grocery_list/_form.html.twig') }}

        <a class="btn-primary btn" href="{{ path('admin.list.index') }}">back to list</a>
    </div>
{% endblock %}
