{% extends 'admin/base.html.twig' %}

{% block title %}{{ grocery_list.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>GroceryList</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grocery_list.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ grocery_list.title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ grocery_list.createdAt ? grocery_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ grocery_list.updatedAt ? grocery_list.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn-primary btn" href="{{ path('admin.list.index') }}">back to list</a>

        <a class="btn-primary btn" href="{{ path('admin.list.edit', {'id': grocery_list.id}) }}">edit</a>

        {{ include('admin/grocery_list/_delete_form.html.twig') }}
    </div>
{% endblock %}
