{% extends 'admin/base.html.twig' %}

{% block title %}{{ grocery_list.title }}{% endblock %}

{% block body %}
<div id="grocerylist__single" data-controller="listmobiletoggle">
    <div class="container">
        <h1>{{ grocery_list.title }} <i class="current__list__notice" style="font-size:0.65em">{{ 'app.admin.lists.current'|trans }}</i></h1>

        <div class="mobile__btns desktop__hide">
            <button data-group="grocerylist" data-id="ingredients" class="btn-toggler btn-primary active btn mb-2">{{ 'app.admin.ingredients.title'|trans }}</button>
            <button data-group="grocerylist" data-id="recipes" class="btn-toggler btn-primary btn mb-2">{{ 'app.admin.recipes.title'|trans }}</button>
        </div>

        <div class="grocerylist__cols">
            <div data-group="grocerylist" data-id="ingredients" class="area-toggler grocerylist__col__left ingredients__products mobile__hide mobile__show">
                <div class="list__title">
                    <h2 class="mobile__hide">{{ 'app.admin.ingredients.title'|trans }}</h2>
                    <a class="btn-primary btn mb-2" href="{{ path('admin.ingredient.index') }}"><i class='bx bx-plus'></i></a>
                </div>
                <ul class="listelementchecker" data-controller="listelementchecker">
                    {% if elements is not empty %}
                        {% for element in elements %}
                            {% if element.hasElement is same as true %}
                                <li class="section">
                                    {{ include('admin/partials/grocerylist_section_card.html.twig') }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li><strong class="section__elements__none">{{ 'app.admin.ingredients.none'|trans }}</strong></li>
                    {% endif %}
                </ul>
            </div>
            <div data-group="grocerylist" data-id="recipes" class="area-toggler grocerylist__col__right recipes mobile__hide">
                <div class="list__title">
                    <h2 class="mobile__hide">{{ 'app.admin.recipes.title'|trans }}</h2>
                    <a class="btn-primary btn mb-2" href="{{ path('admin.recipe.index') }}"><i class='bx bx-plus'></i></a>
                </div>
                <ul>
                    {% if recipes is not empty %}
                        {% for recipe in recipes %}
                            <li>
                                {{ include('admin/partials/grocerylist_recipe_card.html.twig') }}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li><strong class="section__elements__none">{{ 'app.admin.recipes.none'|trans }}</strong></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <a class="btn-primary btn mb-2" href="{{ path('admin.list.index') }}">{{ 'app.admin.action.backlist'|trans }}</a>

        <a class="btn-primary btn mb-2" href="{{ path('admin.list.edit', {'id': grocery_list.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>

        {{ include('admin/grocery_list/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
