{% extends 'admin/base.html.twig' %}

{% block title %}{{ grocery_list.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ grocery_list.title }} - <i style="font-size:0.65em">Current list</i></h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grocery_list.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ grocery_list.createdAt ? grocery_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ grocery_list.updatedAt ? grocery_list.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <div class="data row">
            <div class="ingredients__products col-6">
                <h2>{{ 'app.admin.ingredients.title'|trans }}</h3>
                <ul>
                    {% if elements is not empty %}
                        <div class="sections">
                        {% for element in elements %}
                            <div class="section">
                                <h3 class="section__title">({{element['section'].id}}) {{element['section'].title}}</h3>
                                {% if elements is not empty %}
                                <div class="section__elements">
                                <ul class="section__elements__list">
                                    {% for ingredient in element['ingredients'] %}
                                    <li class="section__element__item">
                                    <div class="section__element__content">
                                        ({{ingredient[0].id}}) {{ ingredient[0].title }}
                                    </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                </div>
                                {% else %}
                                    <span class="section__elements__none">NO ITEM</span>
                                {% endif %}
                            </div>
                            {#<li>
                            <strong>({{ groceryListIngredient.ingredient.id }}) {{ groceryListIngredient.ingredient.title }}</strong>
                            {% if groceryListIngredient.recipe is defined and groceryListIngredient.recipe.title is defined %}
                                <span><br>Recipe : <strong>{{ groceryListIngredient.recipe.title }}</strong></span>
                            {% endif %}
                            <span><br>est coché ? : {{ groceryListIngredient.activation ? 'Oui' : 'Non' }}</span>
                            <span><br>est dans la liste ? : {{ groceryListIngredient.inList ? 'Oui' : 'Non' }}</span>
                            </li>#}
                        {% endfor %}
                        </div>
                    {% else %}
                        <li><strong>{{ 'app.admin.ingredients.none'|trans }}</strong></li>
                    {% endif %}
                </ul>
            </div>

            <div class="recipes col-6">
                <h2>{{ 'app.admin.recipes.title'|trans }}</h3>
                <ul>
                    {% if recipes is not empty %}
                        {% for recipe in recipes %}
                            <li><strong>({{ recipe.id }}) {{ recipe.title }}</strong></li>
                        {% endfor %}
                    {% else %}
                        <li><strong>{{ 'app.admin.recipes.none'|trans }}</strong></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <a class="btn-primary btn mb-2" href="{{ path('admin.list.index') }}">{{ 'app.admin.action.backlist'|trans }}</a>

        <a class="btn-primary btn mb-2" href="{{ path('admin.list.edit', {'id': grocery_list.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>

        {{ include('admin/grocery_list/_delete_form.html.twig') }}
    </div>
{% endblock %}
