{% extends 'admin/base.html.twig' %}

{% block title %}{{ grocery_list.title }}{% endblock %}

{% block body %}
<div id="grocerylist__single">
    <div class="container">
        <h1>{{ grocery_list.title }} - <i style="font-size:0.65em">Current list</i></h1>

        <div class="data row">
            <div class="ingredients__products col-6">
                <h2>{{ 'app.admin.ingredients.title'|trans }}</h3>
                <ul data-controller="listelementchecker">
                    {% if elements is not empty %}
                        {% for element in elements %}
                            <li class="section">
                                <h3 class="section__title">
                                    {#({{ element['section'].id }})#} {{element['section'].title}}
                                </h3>
                                {% if elements is not empty %}
                                <div class="section__elements">
                                <ul class="section__elements__list">
                                    {% for ingredient in element['ingredients'] %}
                                    <li class="section__element__item">
                                    <div class="section__element__content">
                                        <input type="checkbox" id="{{ ingredient.id }}-{{ grocery_list.id }}"
                                            {% if ingredient.activation %}checked="checked"{% endif %}
                                            data-ingredientid="{{ ingredient.id }}" 
                                            data-listid="{{ grocery_list.id }}">
                                        {#({{ ingredient.id }})#} <label for="{{ ingredient.id }}-{{ grocery_list.id }}" class="check__label">{{ ingredient.title }}</label>
                                    </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                </div>
                                {% else %}
                                    <span class="section__elements__none">NO ITEM</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li><strong class="section__elements__none">{{ 'app.admin.ingredients.none'|trans }}</strong></li>
                    {% endif %}
                </ul>
            </div>

            <div class="recipes col-6">
                <h2>{{ 'app.admin.recipes.title'|trans }}</h3>
                <ul>
                    {% if recipes is not empty %}
                        {% for recipe in recipes %}
                            <li>
                                <strong>{#({{ recipe.id }})#} {{ recipe.title }}</strong>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li><strong class="section__elements__none">{{ 'app.admin.recipes.none'|trans }}</strong></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <a class="btn-primary btn mb-2" href="{{ path('admin.list.index') }}">{{ 'app.admin.action.backlist'|trans }}</a>

        <a class="btn-primary btn mb-2" href="{{ path('admin.list.edit', {'id': grocery_list.id}) }}">{{ 'app.admin.action.edit'|trans }}</a>

        {{ include('admin/grocery_list/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
